node_modules

pnpm-lock.yaml
package-lock.json
**/package-lock.json
yarn.lock
.vscode/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*.log

.github
.github/*